@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    font-family: 'Roboto', 'sans-serif';
}

img {
    width: 80vw;
    height: auto;
}

@media (min-width: 500px){
    img {
        height:300px;
        width:auto;
    }
}

h2 {
    text-align: center;
    background: linear-gradient(to right,#fce3ec,#ffe8cc);
    font-family:'Roboto';
    font-weight: normal;
    padding:1rem 0;
    margin-top: 0;
}

h4 {
    text-align: center;
}

#commentTitle {
    font-size: 2em;
}

.description {
    text-align: center;
}

div.comment {
    text-align: center;
}

.textBgc {
    background-image: linear-gradient(0deg,#ffeeda 50%,transparent 50%);
}

footer {
    margin-top:2em;
    text-align: center;
    font-family:'Roboto';
}

p {
    font-family:'Roboto';
    text-align: center;
}

p#home {
    border-top-left-radius:     3em 3em;
    border-top-right-radius:    3em 5em;
}

#home {
    color: black;
    display: inline;
    background: linear-gradient(to right,#fce3ec,#ffe8cc);
    text-decoration: none;
    padding:0.25rem 1rem;
}

p#comment {
    background: linear-gradient(to right,#fce3ec,#ffe8cc);
    text-align: center;
    font-family:'Roboto';
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: 0.25rem auto;
}



div.comment {
  border: #fce3ec 
  0.25rem dotted;
  border-radius: 1rem;
}

form#form--userInput {
    margin-top: 3rem;
    text-align: center;
}


button {
    display: block;
    margin: 0 auto;
}

form {
    margin-top: 1rem;

}

Button#hide {
    margin-right:0;
}

.status {
    display: flex;
    justify-content: flex-end;
}